<h1>New hours</h1>

<% form_for(@hours) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :hour_entry %><br />
    <%= f.text_field :hour_entry %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', hours_path %>
